<section class="myBody">
  <div class="giantCircle">
    <div class="centerCircle">
      <router-link to="/backend" class="navItem backBtn retourBtn">
        <i class="fas fa-arrow-circle-left backFa"></i>
        Retour
      </router-link>

      <div class="navItem item1">
        <input
          type="file"
          name="file"
          id="file"
          ref="myFiles"
          class="inputfile"
          @change="uploadImgOnFront"
          accept="image/png, image/jpeg"
          multiple="multiple"
        />
        <label for="file">Importer image(s)</label>
      </div>

      <a
        v-if="legend.length !== 0"
        to="/newImage"
        class="navItem backBtn item7"
        v-on:click="deleteImg()"
      >
        <i class="fas fa-skull-crossbones navFa"></i>
        <span v-if="fileIsDeleted[currentImg] === ''">
          Supprimer cette image
        </span>
        <span v-else>
          Récuperer l'image
        </span>
      </a>
      <!-- LEFT NAV BUTON -->
      <a
        v-if="legend.length !== 0"
        class="arrowNavItem item4"
        v-on:click="next(-1)"
      >
        <i class="fas fa-arrow-circle-left fa-4x"></i>
      </a>
      <!-- INDEX OF IMAGE -->
      <a v-if="legend.length !== 0" class="paginationNavItem item8">
        {{ currentImg+1 }} / {{ legend.length }}
      </a>

      <!-- ::::::::::::::::::::::::::::::: -->
      <!-- :::::::::::::RIGHT::::::::::::: -->
      <!-- ::::::::::::::::::::::::::::::: -->
      <a
        v-if="legend.length !== 0 "
        class="navItem right itemR1"
        @click="onClickAddKeyword = !onClickAddKeyword"
      >
        Ajouter un mot-clé
      </a>

      <a
        v-if="legend.length !== 0"
        class="arrowNavItem right itemR4"
        v-on:click="next(1)"
      >
        <i class="fas fa-arrow-circle-right fa-4x"></i>
      </a>

      <button
        v-if="files.length !== 0 "
        class="submit navItem right itemR8"
        @click="onClicPrepareDataBeforeSending"
      >
        Enregistrer
      </button>
    </div>
  </div>
  <phpResponse :reponse="phpResponse" ></phpResponse>

  <div
    v-for="(t, indexImg) in imageUrlList"
    :key="t.id"
    v-bind:class="currentImg==indexImg ? 'containerImage' : 'hide'"
  >
    <div class="itemImg">
      <!-- surcouche si la photo est supprimé -->
      <div
        v-if="fileIsDeleted[indexImg] !== ''"
        class="deletedItem"
        :key="rerenderKey"
      >
        X
        <br />
        <span style="font-size: 2rem;">photo supprimée</span>
      </div>

      <img id="imageItem" class="currentImg" :src="t" alt="your image" />

      <div>
        <div class="keywordBox">
          <div
            v-bind:class="getClass(indexImg, keyword[1], keyword[0])"
            v-for="(keyword, index) in keywords"
            :key="keyword.id"
            @click="addKeyWord( indexImg, keyword)"
          >
            {{ keyword[0] }}
          </div>
        </div>

        <div class="inputBoxInfo">
          <label for="legend">Légende</label>
          <input type="text" name="legend" v-model="legend[indexImg]" />
        </div>
        <div class="inputBoxInfo">
          <label for="description">Description (alt)</label>
          <input
            type="text"
            name="description"
            v-model="description[indexImg]"
          />
        </div>

        <div>
          <div v-if="onClickAddKeyword" class="addkeyword">
            <label for="newKeyword" class="">Ajouter un mot-clé</label>
            <input type="text" v-model="newKeyword" />
            <!-- <input class="submit" type="submit" @click="createNewKeyWord" /> -->
            <button
              class="validateAll "
              type="submit"
              @click="createNewKeyWord"
            >
              valider
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- </form> -->
</section>
