<section class="myBody">
  <div class="giantCircle">
    <div class="centerCircle">
      
      <currentImgComponent 
        v-for="(image, indexImg) in imageUrlList"
        :key="image"
        v-bind:class="currentImg==indexImg ? 'containerImage' : 'hide'"
        :isDelete="fileIsDeleted[indexImg]"
        :imgUrl="image"
        :currentIndex="indexImg"
        :kwList="keywords"
        :selectKW="selectedKeyWords"
        :legende="legend"
        :desc="description"
        :upLegend="updateLegend"
        :upDesc="updateDescription"
        ></currentImgComponent>


      <router-link to="/backend" class="navItem backBtn retourBtn">
        <i class="fas fa-arrow-circle-left backFa"></i>
        Retour
      </router-link>

      <div class="navItem item1" style="color: white;">
        <input
          type="file"
          name="file"
          id="file"
          ref="myFiles"
          class="inputfile"
          @change="uploadImgOnFront"
          accept="image/png, image/jpeg"
          multiple="multiple"
        />
        <label for="file">Importer image(s)</label>
      </div>

      <a
        v-if="legend.length !== 0"
        to="/newImage"
        class="navItem backBtn item7"
        v-on:click="deleteImg()"
      >
        <i class="fas fa-skull-crossbones navFa"></i>
        <span v-if="fileIsDeleted[currentImg] === ''">
          Supprimer cette image
        </span>
        <span v-else>
          Récuperer l'image
        </span>
      </a>
      <!-- LEFT NAV BUTON -->
      <a
        v-if="legend.length !== 0"
        class="arrowNavItem item4"
        v-on:click="next(-1)"
      >
        <i class="fas fa-arrow-circle-left fa-4x"></i>
      </a>
      <!-- INDEX OF IMAGE -->
      <a v-if="legend.length !== 0" class="paginationNavItem item8">
        {{ currentImg+1 }} / {{ legend.length }}
      </a>

      <!-- ::::::::::::::::::::::::::::::: -->
      <!-- :::::::::::::RIGHT::::::::::::: -->
      <!-- ::::::::::::::::::::::::::::::: -->
      <a
        v-if="legend.length !== 0 "
        class="navItem right itemR1"
        @click="onClickAddKeyword = !onClickAddKeyword"
      >
        Ajouter un mot-clé
      </a>
      <div class="itemR1">
        <div v-if="onClickAddKeyword" class="addkeyword">
          <label for="newKeyword" class="">Ajouter un mot-clé</label>
          <div>
            <input type="text" v-model="newKeyword" />
            <!-- <input class="submit" type="submit" @click="createNewKeyWord" /> -->
            <i class="fas fa-plus" @click="createNewKeyWord(false)"></i>

            <a
              class="validateAll "
              type="submit"
              @click="createNewKeyWord(true)"
            >
              valider
            </a>
          </div>
        </div>
      </div>

      <a
        v-if="legend.length !== 0"
        class="arrowNavItem right itemR4"
        v-on:click="next(1)"
      >
        <i class="fas fa-arrow-circle-right fa-4x"></i>
      </a>

      <button
      v-if="files.length !== 0 && nbrImageLeft == 0"
      class="submit navItem right itemR8"
      @click="onClicPrepareDataBeforeSending"
    >
      <span>Enregistrer</span>
    </button>
      <button
        v-else-if="files.length !== 0 && selectedKeyWords[currentImg].length > 0"
        class="submit navItem right itemR8"
        @click="next(1)"
      >
      Enregistrer ({{ nbrImageLeft }} images restantes)
    </button>
      <button
        v-else-if="files.length !== 0"
        class="submit navItem right itemR8"
        @click=" phpResponse = 'choisissez un mot clef'"
      >
       Enregistrer ({{ nbrImageLeft }} images restantes)
      </button>

    </div>
  </div>
  <phpResponse
    :reponse="phpResponse"
    v-on:resetReponse="phpResponse=''"
  ></phpResponse>

  <!-- </form> -->
</section>
