<section class="myBody mainContainer">

  <div class="head">
    <!-- btn back with no update -->
    <router-link v-if="!dataToSendToServer" to="/allImages" class="barBtn">
      <i class="fas fa-arrow-circle-left backFa"></i>
        Retour
    </router-link>
    <a v-if="dataToSendToServer" @click='areYouSure()'class="barBtn">
      <i class="fas fa-arrow-circle-left backFa"></i>
        Quitter
    </a>
    <!-- btn back with update -->
    <a
      v-if="dataToSendToServer"
      class="barBtn"
      @click="updateThisDiapo"
    >
      <i class="fas fa-check-circle backFa"></i>
      Validez les modifs
    </a>

    <!-- title of diaporama -->
    <h1 v-if="!modifyTitle">
      {{ currentKeywordDatas[0] }}
      <i class="fas fa-pen" @click="modifyTitle = !modifyTitle; dataToSendToServer=true" ></i>
    </h1>
    <!-- input to modify title -->
    <input
      class="titleInput"
      v-if="modifyTitle"
      v-model="currentKeywordDatas[0]"
      value="currentKeywordDatas[0]"
    />
    <!-- change the view type (grid or alone) -->
    <div>
      <a :class="category==0 ? 'active' : ''" @click="category = 0">
        <i class="fas fa-th fa-2x"></i>
      </a>
      <a :class="category==1 ? 'active' : ''" @click="category = 1">
        <i class="fas fa-image fa-2x"></i>
      </a>
    </div>
    <!-- panneau suppression du diaporama -->
    <div class="btnSettings">
      <a v-on:click="settingPanel = !settingPanel">
        <i class="fas fa-trash fa-2x"></i>
      </a>
      <div v-bind:class="settingPanel ? 'panel' : 'hide'">
        <div class="arrow-up"></div>
        <a style="color:orangered; cursor: pointer;" @click="deleteDiaporama">
          <i class="fas fa-trash"></i>
          Supprimez le diaporama
          <span style="font-weight: bold;">"{{ currentKeywordDatas[0] }}"</span>
        </a>
        <a style="color:cadetblue; cursor: pointer;" @click="settingPanel = !settingPanel"
          >Annuler</a
        >
      </div>
    </div>
  </div>
  
  <phpResponse :reponse="phpResponse" v-on:resetReponse="phpResponse=''"></phpResponse>

  <listimgVueComp 
    v-if="category == 0" 
    v-on:setCategory="category=1"
    :imgList="imageDatas" 
    :currentTitle="currentKeywordDatas[3]" 
    v-on:setCurrentImg="setCurrentImgFromComponent"
    v-on:setImgOrder="setImgOrderFromComponent"
    v-on:ismodified="dataToSendToServer=true" 
    >
  </listimgVueComp>


  <oneImgComp
    v-if="category == 1"
    v-on:setCategory="category=0"
    :listStatus="dataToSendToServer"
    :imgList="imageDatas"
    v-on:updateImageList="updateImageListFromComp"
    :currentImage="currentImg" 
    v-on:setCurrentImg="setCurrentImgFromComponent"
    v-on:ismodified="dataToSendToServer=true"
    :currentKWData = "currentKeywordDatas"
    v-on:updateKeywordData= "updateKeywordDataFromComponent"
    :allKeywords = "keywords"
    v-on:updateAllKeywords = "updateAllKeywordsFromComponent"
    v-on:sendKWTableToServer = "SendFullKWTable = true"
  >
</oneImgComp>
</section>
